<% if flash[:notice] %>
  <div class ="flash"><%= flash[:notice] %>
  </div>
<% end %>

<%= form_with model:@book do |f| %>

  <p><strong>Title:</strong>
  <%= @book.title %>
  </p>

  <p><strond>Body:</strond>
  <%= @book.body %>
  </p>

  <%= link_to"Edit",edit_book_path(@book.id) %>
  |
  <a href='/books'>Back</a>



<% end %>
